body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: orange;
    /* margin-bottom: 15px; */
}

.container
{
    /* display: flex; */
    width: 400px; 
    height: 520px;
    background-color: white;
    text-align: center;
    padding: 20px;
    /* border: 2px solid black; */
    /* box-shadow: 5px 5px  rgba(0,  0,  0, 1px); */
    margin-left: 32%;
    margin-top: 15px;
    box-shadow: 5px 5px 10px rgba(5, 0, 0, 0.8);
 }

.container .heading
{
    margin-bottom: 15px;
    text-decoration: underline;
    text-transform: uppercase;

}

.input .inpt
{
    margin-bottom: 5px;
    border: 1px solid orange;
    height: 25px;
    width: 300px;
}

.input  input[type=file]
{
 height: 80px;
}

/* .fnm
{
    height: 25px;
    width: 128px;
    margin-top: 22px;
} */

.fname
{
    height: 25px;
    width: 128px;
    margin-top: 22px;
    border: 1px solid orange;
}

.lname
{
    height: 25px;
    width: 128px;
    margin-top: 22px;
    border: 1px solid orange;
}

.input i
{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid orange;
    height: 15px;
    width: 20px;
}

.gender
{
    margin-top: unset;
    font-size: 18px;
    margin-left: 25px;
    width: 250px;
    display: flex;
  align-items: center;

}

button
{
    height: 33px;
    width: 340px;
    cursor: pointer;
    background-color: orange;
    border: 1.5px solid black;
    color: white;
    font-size: 20px;
    margin-top: 12px;
}

button:hover
{
    background-color: black;
}
